<div id="<%= dom_id post %>">
  <p>
    <strong><%= t('forms.username') %>:</strong>
    <%= post.user.username %>
  </p>

  <p>
    <strong><%= t('forms.title') %>:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong><%= t('forms.body') %>:</strong>
    <%= post.body %>
  </p>

</div>
